#main-loader {
  display: block;
  width: 100vw;
  height: 50px;
  background-color: darkcyan;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

#dedicated-loader {
  display: block;
  width: 100vw;
  height: 25px;
  background-color: chocolate;
  position: absolute;
  bottom: 50px;
  left: 0px;
}
